.page-content {
    padding: 100px 0; /* VERTICAL PADDING FOR TITLE ON EVERY PAGE */
}
.page-heading {
    font-size: 20px;
}
.contacticon {
    display: block;
    font-size: 40px;
    margin: 10px;
}
.center{
    text-align: center;
}

.page-title {
	text-align: center;
    font-size: 28px;
    letter-spacing: -1px;
    margin-bottom: 50px;
    margin-top: 0;
}

div.citation {
	border-style: dashed;
	margin: $space-2;
	padding: $space-2;
	border-width: 1px;
	vertical-align: middle;
	font-size: 0.85em;
	line-height: 1em;
}
